/* Tanaguru Manager CSS: tgm.css
 * 20110110 mfaure
*/

/* MAINTENANCE:
 * pages are separated with ==============================================
 * sections within pages are separated with ----------------------------------------------
 * structure of the CSS file:
 *   generic stuff (separated like pages)
 *   page-specific stuff
*/

/* =clearfix
 -------------------------------------------------- */
/* http://nicolasgallagher.com/micro-clearfix-hack/ */
/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}
/* =awesome buttons
 -------------------------------------------------- */
/* Source: http://www.zurb.com/blog_uploads/0000/0617/buttons-03.html
   Modified to conform to YUI fonts
*/
.awesome,
.awesome:visited {
    border: 0 none;
    background: #222 url(http://asset.open-s.com/Corporate/TGOL/Images/alert-overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}

.awesome input{
    background-color: transparent;
    border: medium none;
    color: white;
    font-weight: bold;
}

.awesome:hover {
    background-color: #111;
    color: #fff;
}

.awesome:active { top: 1px; }

.small.awesome,
.small.awesome:visited { font-size: 77%;}

.awesome,
.awesome:visited,
.medium.awesome,
.medium.awesome:visited {
    font-size: 100%;
    font-weight: bold;
    /*line-height: 1;*/
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.large.awesome,
.large.awesome:visited,
input.large.awesome {
    font-size: 108%;
    padding: 8px 14px 9px;
}

.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
.green.awesome:hover						{ background-color: #749a02; }
.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
.blue.awesome:hover							{ background-color: #007d9a; }
.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
.red.awesome:hover							{ background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
.magenta.awesome:hover							{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited		
.orange.awesome:hover							{ background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
.yellow.awesome:hover							{ background-color: #fc9200; }
.btn.orange, .btn.orange:visited{
    background-color: #ff5c00;
}
btn.orange:hover {
    background-color: #d45500;
}
/*
 * Override Bootstap
 * ==============================================
 */
.actions {
    border-top : none;
    background: none;
    margin-bottom: 0;
}
.topbar {
    height: 45px;
    position: absolute;
}
.container-fluid {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
}
.container{
    background: #FFFFFF;
    margin-top: 45px;
    padding: 10px;
}
.well{
    background-color: #FFFFFF;
}
#tgm-result-page .sidebar {
    left: 100px;
    position: fixed;
    top: 100px;
    background: #FFFFFF;
    -moz-border-radius: 10px 10px 10px 10px;
}
.topbar .container {
    background: #222222;
    background-image: -moz-linear-gradient(center top , #333333, #222222);
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}
.topbar div > ul a, .nav a {
    color:#FFFFFF;
}
.topbar div > ul a:hover, .nav a:hover  {
    color:#BFBFBF;
}
.breadcrumb {}
.breadcrumb .divider:after {
    content: ">";
}
.help-block,
form .clearfix.error .help-block{
    color : #404040;
    font-weight: normal;
    font-size: 11px;
}
form .clearfix.error input, form .clearfix.error textarea {
    color : #404040;
}
.alert-message.block-message .alert-actions {
    margin-top: 25px;
}
li  {
    color:#404040;
}
.inputs-list:first-child {
    padding-top: 0;
}
element.style {
    padding-left: 18px;
}
.inputs-list:first-child {
    padding-top: 0;
}
.inputs-list {
    padding-left: 18px;
}
.alert-message a {
    color: #1A1A8B;
    font-weight: normal;
}
.alert-message .alert-actions a {
    color: #404040;
    font-weight: normal;
}
.topbar div > ul.secondary-nav, .nav.secondary-nav {
    margin-right : -15px;
}
.topbar h3 a, .topbar .brand {
    margin-left: -5px;
    padding: 6px 0 0 0 ;
}
input, textarea, select {
    color : #404040;
}
/*
 * HTML tags
 * ==============================================
 */
a {color:#1A1A8B;}

a img:link {text-decoration: none;}
a:link img {text-decoration: none;}

h1 {
    color:#8E0000;
    font-size: 182%;
/*    margin-left: 1em;*/
}
h2 {
    font-size: 161.6%;
    color: #333;
 }
code {
    font-family: monospace;
    font-weight: bold;
}

th, td {border: none;}

caption {
    width: 0;
    height: 0;
    left:-19000px;
    position: absolute;
}

table {
/*    width: 96%;
    margin-left: 2%;
    margin-right: 2%;*/
}
legend {
    font-size: 123.1%;
    font-weight: bold;
    padding-left: 10px;
    margin-left : 15px;
    padding-right: 10px;
    padding-left : 10px;
}
fieldset {
    border: 1px solid #D0D0D0;
    padding-right: 1em;
    padding-top: 0.5em;
    margin-top: 1em;
}
fieldset legend {
    padding-left: 10px;
}
/*dl dt, dl dd {
    display : inline-block;
}*/
/*
 * Classes: grade
 * ------------------------------------------------- */
.grade-a {
    font-weight: bold;
    color:#3BA94C;
} /* >90% */
.grade-b {
    font-weight: bold;
    color:#819F44;
} /* <90% */
.grade-c {
    font-weight: bold;
    color:#AC922E;
} /* <80% */
.grade-d {
    font-weight: bold;
    color:#D77B3E;
} /* <70% */
.grade-e {
    font-weight: bold;
    color:#BB4A12;
} /* <60% */
.grade-f {
    font-weight: bold;
    color:#D02D2D;
} /* <50% */
.score-progression{
    color: #000000;
    font-size: small;
}

/* Classes: links
 * ------------------------------------------------- */
.link-underline a {text-decoration: none;}
.link-underline a:hover {text-decoration: underline;}

/* Classes: misc
 * ------------------------------------------------- */
.notdisplayed {
    width: 0;
    height: 0;
    left:-19000px;
    position: absolute;
}
.mandatory {
    color : red;
}

/*
 * Layout
 * ==============================================
 */
html {
/*    background: #C0D8E1 url(../Images/background-gradient.png) repeat-x;*/
/*    background: #B8CEE5;*/
}
body {
    background: url("../Images/background-gradient.png") repeat-x scroll 0 0 #C0D8E1;
}
.no-bg-container {
    background : none;
}
/*
 * Header
 * ==============================================
 */
#hd {
    width: 100%;
    margin: 0.5em 0 0 0;
}
#logout-icon {
    vertical-align: bottom;
    padding-right : 1em;
}

/*
 * Footer
 * ==============================================
 */
footer {
    padding-top: 0;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    border-top : none;
}
#footer-upper {
    background-color: #f8f8f8;
    padding-top: 17px;
}
#footer-down {
    margin-top: 17px;
}

/*
 * Lang-box
 * ==============================================
 */
#lang-box {
    text-align: right;
    margin-top: 0.5em;
}
.lang-flag {
    margin-top: 0.25em;
}
#logo-box {
    margin-left: 0;
}
/*
 * Page: error-pages (template)
 * ==============================================
 */
#error-result-meta li {
    list-style: none;
}
.main-logo {
    text-align: center;
}
#error-loading-explanation {
    margin-top: 2em;
}

/*
 * Page: login
 * ==============================================
 */
#tgm-login .container{
    background: none;
    margin-top : 0;
}
#tgm-login h1 {
    margin-bottom: -5px;
    margin-top: 70px;
}
#tgm-login footer {
    margin-top: 120px
}
#login-main-row{
    margin-top: 2em;
}
#login-main-row .alert-message.error {
    padding: 4px;
    width: 270px;
}
#login-form .actions {
    margin-top: 0;
    padding-top: 0;
}
#login-form fieldset {
    margin: 0;
    padding: 0;
}
#login-form .help-block {
    width: 270px;
    text-align: right;
}
#login-form form {
    padding-left: 0;
}
#login-demo {
    margin-top : 3em;
    margin-bottom: 7em;
    width : 255px;
}
#login-demo p {
    font-weight: bold;
}
#login-sign-up {
    width: 270px;
}
#login-demo input {
    width: 100%;
}
#login-demo-form {
    margin : 2em;
}
#login-sign-up a{
    text-align: center;
    width: 100%;
    padding-right: 0;
}
#login-logo {
    margin-bottom: 3em;
}
#login-submit input{
    width : 30%;
}
/*
 * Page: sign-up
 * ==============================================
 */
 #tgm-sign-up .container {
     margin-top: 0;
     background: none;
}
.sign-up-field {
    margin-bottom: 1em;
}
#sign-up-submit input{
    width : 30%;
}

/*
 * Page: sign-up-confirmation
 * ==============================================
 */
#tgm-sign-up-confirmation .container{
    background: none;
    margin-top : 0;
}

/*
 * Page: forgotten-password
 * ==============================================
 */
#tgm-forgotten-password .container{
    background: none;
    margin-top : 0;
}
#forgotten-password-submit {
    padding-top: 0;
}
#forgotten-password-form {
    margin-top: 1em;
}
#forgotten-password-field{
    margin-bottom: 1em;
}
#forgotten-password-email {
    margin-bottom: 1em;
}
#forgotten-password-label {
    font-size: 123.1%;
    font-weight: bold;
    float : none;
}
#forgotten-password-field input {
    margin-top: 1em;
}
#forgotten-password-submit input[type=submit] {
    width: 150px;
    margin-right: 1em;
}
#forgotten-password-form-general-error{
    text-align: center;
    margin-bottom: 1em;
}

/*
 * Page: forgotten-password-confirmation
 * ==============================================
 */
#tgm-forgotten-password-confirmation .container{
    background: none;
    margin-top : 0;
}

/*
 * Page: account-settings
 * ==============================================
 */
#tgm-account-settings .container {}
.account-settings-field {
    margin-bottom: 1em;
}
.account-settings-field input {
    width : 60%;
}
#account-settings-form fieldset {
    margin-bottom: 0;
}
#change-password-link {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}

/*
 * Page: change-password
 * ==============================================
 */
#tgm-change-password .container {}
.change-password-field {
    margin-bottom: 1em;
}
#change-password-form-submit {
    padding-top: 0;
}
.not-authentified {
    background: none;
    margin-top : 0;
}
/*
 * Page: home (contract-list)
 * ==============================================
 */
#tgm-home .container {}
.one-project {
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px dotted silver;
}
.one-project-last {
    margin-top: 1em;
    padding-bottom: 1em;
}
.project-score {
    font-size: 300%;
    font-weight: bold;
    text-align: right;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}
.project-fail {
    font-size: 182%;
    font-weight: bold;
    text-align: right;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}
.project-status.running {
    padding-left: 20px;
    background: 0 50% url(../Images/gears-running.png) no-repeat;
}
.running-audit {
    margin-left: 1em;
    vertical-align: middle;
}
/*
 * Page : contract
 * ==============================================
 */
#tgm-project .container {}
#audit-actions {
    margin-top : 1em;
}
#audit-actions td {
    border-top: medium none;
    width: 12em;
    vertical-align: top;
}
#audit-actions a:hover img {
    text-decoration: none;
}
#audit-actions img {
    border: solid 1px silver;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding: 10px;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.61, rgb(228,228,228)),
        color-stop(0.81, rgb(251,251,251))
        );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(228,228,228) 61%,
        rgb(251,251,251) 81%
        );
}
.action-button{
    display: inline-block;
    text-align: left;
}
#contract-last-audit {
    margin-bottom: 1em;
}
#act-list-table .col01 {
    text-align: left;
}
#act-list-table .col02 { /* date */
    text-align: left;
}
#act-list-table .col03 { /* mark */
    text-align: right;
}
#act-list-table .col04 { /* weighted mark */
    text-align: right;
}
#act-list-table .col05 { /* scope */
    text-align: left;
}
#act-list-table .col06 { /* status */
    text-align: left;
}
#act-list-table .col07 { /* detailed result link */
    text-align: left;
}

/*
 * Page : set-up template
 * ==============================================
 */
#audit-set-up-form {}
.toggle-master-url, .toggle-master-parameters,.toggle-master-display-parameters {
    background-image: url(../Images/plus.png);
    background-repeat: no-repeat;
}
.toggle-master-url, .toggle-master-display-parameters {
    padding-left: 2.5em;
    background-position: 1px;
}
.toggle-master-parameters{
    padding-left: 1.5em;
    background-position: 0px 1px;
}
#audit-set-up-form input[type="file"] {
    margin-right: 6em;
}
#audit-set-up-form .alert-message {
    margin-left : 10px;
}
.input .alert-message.error {
    display :inline-block;
    margin-top : 0.5em;
    margin-bottom : 0;
}
input[type="text"]:focus{
    -moz-appearance: textfield;
    color: black;
    background-color: #ffffe1;
}
.expanded {
  background-image: url(../Images/minus.png);
}
.parameters-legend {
    font-size: 123.1%;
    font-weight: bold;
    padding-left: 10px;
    margin-left : 15px;
    padding-right: 10px;
    padding-left : 10px;
}
.decorated-fieldset {
    border: 1px solid #D0D0D0;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    margin-top: 1em;
}
.fieldset-info{
    padding-top: 0em;
}
.file-input .alert-message {
    margin-left: 2em;
}
#audit-set-up-form-submit {}
/*
 * Page : audit-page-set-up
 * ==============================================
 */
#tgm-page-set-up .container{}
#tgm-page-set-up .alert-message {}

/*
 * Page : audit-site-set-up
 * ==============================================
 */
#tgm-site-set-up .container{}
#tgm-site-set-up .alert-message {}

/*
 * Page : audit-upload-set-up
 * ==============================================
 */
#tgm-upload-page-set-up .container{}
#tgm-upload-page-set-up .alert-message {}

/*
 * Page : pie-chart (graph template)
 * ==============================================
 */
#tgm-piechart {
    margin: -1.5em 0 0;
    text-align: center;
    width: 100%;
}
#tgm-piechart2 {
    margin: -30px 0 0 0;
    text-align: center;
}
#result-synthetized-text {
    margin: 2em  0 0;
    text-align: center;
    border-collapse: separate;
}
#result-synthetized-text .col01 {
    text-align: left;
    vertical-align: middle;
    font-weight: bold;
}
#result-synthetized-text .col02 {
    text-align: right;
}
.chart-object {
    border: medium none;
    color: black;
}

/*
 * Page : synthesis (template)
 * ==============================================
 */
 #synthesis-action-list {
     margin-left: 0;
     margin-top: 2em;
}
#synthesis-action-list li{
    list-style: none;
    margin-top: 1em;
    margin-left : 0;
    width : 140px;
}
.audit-nb-of-pages {
    font-size: 150%;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.5em;
    margin-top: 1em;
    vertical-align: middle;
}
.audit-score {
    font-size: 400%;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.3em;
    vertical-align: bottom;
}
.passed {
    background: url(http://asset.open-s.com/Corporate/TGOL/Images/ico-passed.png) 5px 50% no-repeat;
    padding-left: 2em;
    color:green;
}
.failed {
    background: url(http://asset.open-s.com/Corporate/TGOL/Images/ico-failed.png) 5px 50% no-repeat;
    padding-left: 2em;
    color:red;
}
.nmi {
    background: url(http://asset.open-s.com/Corporate/TGOL/Images/ico-nmi.png) 5px 50% no-repeat;
/*    background: url(http://asset.open-s.com/Corporate/TGOL/Images/ico-nmi-2.ico) 5px 50% no-repeat;*/
    padding-left: 2em;
/*    color:#F89406;*/
    color : #3B57BD;
}
.na {
    padding-left: 2em;
    color: #6e6e6e;
}
#audit-result-synthesis-actions {
    text-align: right;
}
#audit-result-synthesis-actions li {
    list-style: none;
}
#audit-result-synthesis-actions img {
    vertical-align: middle;
}
#synthesis-meta-data {
/*    margin-top: -5px;*/
}
#synthesis-score {
/*    text-align: right;
    margin-top: 0.9em;*/
}
.project-parameters {
    margin-top: 1em;
}
.project-parameters li{
    list-style: none;
}
.project-parameters ul{
    margin-left: 0;
}
.project-parameters-label {
    font-weight : bold;
}
.project-parameters-value {
    font-weight : normal;
}
.option-console {
    margin-top : 1em;
    margin-bottom : 0;
}
/*
 * Page : synthesis-site
 * ==============================================
 */

#tgm-synthesis-site h2 {
    border-bottom: 1px dotted silver;
    margin-bottom: 1em;
    margin-top: 1em;
}
#top5-failed-url-by-test td[headers=nbOfInvalidTestTop5FailedUrlByTest],
#top5-failed-url-by-test th[id=nbOfInvalidTestTop5FailedUrlByTest],
#top5-failed-url-by-test td[headers=nbOfInvalidOccurrenceTop5FailedUrlByTest],
#top5-failed-url-by-test th[id=nbOfInvalidOccurrenceTop5FailedUrlByTest],
#top5-failed-url-by-occurrence td[headers=nbOfInvalidOccurrenceTop5FailedUrlByOccurrence],
#top5-failed-url-by-occurrence th[id=nbOfInvalidOccurrenceTop5FailedUrlByOccurrence],
#top5-failed-url-by-occurrence td[headers=nbOfInvalidTestTop5FailedUrlByOccurrence],
#top5-failed-url-by-occurrence th[id=nbOfInvalidTestTop5FailedUrlByOccurrence] {
    text-align: right;
    padding-right: 2em;
}
#top5-failed-url-by-test .col01,
#top5-failed-url-by-occurrence .col01 {
    text-align: left;
}
#top5-failed-url-by-test .col02,
#top5-failed-url-by-occurrence .col02{
    text-align: right;
    width: 6em;
}
#top5-failed-url-by-test .col03,
#top5-failed-url-by-occurrence .col03{
    text-align: right;
    width: 6em;
}
#top5-failed-url-by-test .col04,
#top5-failed-url-by-occurrence .col04{
    text-align: left;
    width: 8em;
}
#top5-failed-test-by-page td[headers=nbOfPagesTop5FailedTestByPage],
#top5-failed-test-by-page th[id=nbOfPagesTop5FailedTestByPage] {
    padding-right: 3em;
}
#top5-failed-test-by-page .col01 {
    padding-left: 2em;
    text-align: left;
    width: 5em;
}
#top5-failed-test-by-page .col02 {
    text-align: right;
    padding-right: 2em;
    width: 10em;
}
#top5-failed-test-by-page .col03 {
    text-align: left;
}
#synthesis-result .project-fail {
    text-align: left;
}

/*
 * Page : score (template)
 * ----------------------------------------------
 */
.weighted-mark-label {
    color : black;
}
#score-formula {
    color : black;
}

/*
 * Page : page-list (template)
 * ----------------------------------------------
 */
#page-list-table th {
    text-align: center;
}
#page-list-table td[headers=pieRepartition] {
    text-align: center;
}
#page-list-table td[headers=mark] {
    text-align: right;
}
#page-list-table object { border:0; }

#page-list-table td[headers=url] {
    word-wrap: break-word;
    max-width:750px;
}
#page-list-table .col01 {
    text-align: left;
}
#page-list-table .col02 {
    text-align: right;
    width: 10em;
}
#page-list-table .col03 { /* nb of elements */
    text-align: right;
    width: 10em;
}

/*
 * Page : page-list
 * ----------------------------------------------
 */
#tgm-page-list {}
#tgm-page-list h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

/*
 * Page : page-list-xxx
 * ----------------------------------------------
 */
#tgm-page-list-f2xx,
#tgm-page-list-f3xx,
#tgm-page-list-f4xx {}
.result-items{
    font-size: 123.1%;
    padding-bottom: 1em;
}
th.order1:after {
/*    content: '  \2191';  unicode equivalent to &uarr; See http://blog.csdn.net/cheng5128/archive/2009/07/28/4613813.aspx */
}

th.order2:after {
/*    content: '  \2193';  unicode equivalent to &darr; http://blog.csdn.net/cheng5128/archive/2009/07/28/4613813.aspx */
}
#display-options-update input[type=submit] {
    margin-bottom: 0;
    margin-top: 0;
}
#display-results-options-update {
    padding-top : 0;
}
#page-list-f2xx .col01,
#page-list-f3xx .col01,
#page-list-f4xx .col01{ /* URL */
    text-align: left;
    word-wrap: break-word;
    max-width: 750px;
}
#page-list-f2xx .col02{ /* Mark */
    text-align: right;
    width: 10em;
}
#page-list-f2xx .col03{ /* Weighted Mark */
    text-align: right;
    width: 10em;
}
#page-list-f2xx .col04{ /* link to detailed result */
    text-align: right;
    width: 10em;
}
#page-list-f3xx .col02,
#page-list-f4xx .col02{ /* Http Status Code */
    text-align: right;
    width: 10em;
}
.page-links{
    font-size: 123.1%;
    text-align: center;
    padding-bottom: 1em;
}
#pagination-empty-list {
    font-size: 123.1%;
    text-align: left;
    padding-bottom: 1em;
}

.pagination-prev {
    font-size: 123.1%;
    text-align: center;
    padding-bottom: 1em;
    padding-right: 1em;
}
.pagination-next {
    font-size: 123.1%;
    text-align: center;
    padding-bottom: 1em;
    padding-left: 1em;
    position : absolute;
    width: auto;
}
#display-options-form fieldset {
/*    border: 1px solid #D0D0D0;*/
}
/* threshold :
< 1280px: display options as row under the h1
> 1280px: display options on the right

/* --------------------------------------------------------------------
	Moins de 480px (téléphones)
-------------------------------------------------------------------- */
@media only screen and (min-width:1680px) {
    .option-console {
        position: fixed;
        top : 45px;
        right : 0;
        -moz-border-radius: 4px 4px 4px 4px;
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5);
    }
    .option-console {
        margin-top : 0;
    }
    .option-console fieldset {
        border : none;
        margin-bottom: 0;
    }
    .option-console legend {
        margin-bottom : 10px;
    }
    .option-console input,
    .option-console textarea,
    .option-console select {
        width: 140px;
    }
    .option-console .actions {
        padding-top : 0;
        margin-top : 0;
        margin-bottom: 0;
    }
    .option-console .row {
        margin-left: 0;
    }
    .option-console .row > .offset1 {
        margin-left : 20px;
    }
    .option-console .row > [class*="span"] {
        display : block;
        float : none;
        margin-left: 0;
        width : none;
    }
    .option-console .span1,
    .option-console .span2,
    .option-console .span3,
    .option-console .span4,
    .option-console .span5,
    .option-console .span6,
    .option-console .span7,
    .option-console .span8,
    .option-console .span9 {
        width : auto;
    }
}
/*@media only screen and (min-width:1920px) {
    #display-results-options {
        position: fixed;
        top : 60px;
        right : 80px;
        background: #FFFFFF;
        -moz-border-radius: 10px 10px 10px 10px;
    }
}*/

/*
 * Page: audit results -> one page
 * ==============================================
 */
#result-detailed th {
    background-color: rgb(255,255,204);
}

/*
 * page : result-page
 * ----------------------------------------------
 */
#audit-result-menu-actions {
    text-align: left;
    margin-left: 20px;
}
audit-result-menu-actions a {
    margin-right: 1em;
}
#audit-result-menu-actions li {
    list-style: none;
}
#audit-result-menu-actions img {
    vertical-align: middle;
}

/*
 * page : detailed-result (template)
 * ----------------------------------------------
 */
.theme {
    border-top: 1px solid silver;
    margin: 1em 0;
    padding-top: 0.5em;
}
.rule-general-result,
.rule-general-result-last{
    margin-top: 0;
    padding-bottom: 1em;
    padding-top: 0.5em;
    line-height: 18px;
    vertical-align: top;
}
.rule-general-result-last{
    border-bottom: none;
    margin-bottom: 1em;
}
.rule-general-result-last select,
.rule-general-result select{
    width: 140px;
}
#audit-result-menu-actions ul {
    margin : 0;
}
.odd {
    background-color: #F3F3F3;
}
.even {
    background-color: #FAFAFA;
}
.zebra-striped .odd {
    background-color: transparent;
}
.zebra-striped .even {
    background-color: transparent;
}
#synthesis {
    margin-bottom: 1em;
}
#work-done {
    margin-top: 1em;
    margin-bottom: 1em;
}
.result-table process-remarks {
    font-size: 110%;
}
.rule-id {
    text-align: center;
}
.rule-label {}
.rule-label ul {
    margin: 0.25em 0 0.25em 3em;
}
.rule-result {}
.rule-failed-count {}
.rule-level {
    text-align: center;
}
.rule-details {}
.audit-parameters-compact, .test-result-compact {
    cursor: pointer;
}
.test-result-detailed {
    margin-bottom: 3em;
}
.test-result-detailed h5 {
    margin: 0.5em 0;
}
.test-result-detailed table {
    width: 95%;
    margin-left: 2em;
}
.test-result-detailed table th, .test-result-detailed table td {
/*    border-bottom: dotted 1px gray;*/
}
.test-result-detailed table th {
/*    background-color: #cff;*/
}
.test-result-detailed td {
    /* selecteur pas assez précis pour specifier le padding*/
    /*padding-left: 5em;*/
}
.excerpt-image {
    max-height: 40px;
    max-width: 65px;
    vertical-align: middle;
    padding-left: 2em;
}
.excerpt-link {
    font-style: italic;
}
.more-on-test {
    float:right;
    text-align:right;
}
.chart-object {
    border:none;
    color:black;
}
#site-audit-history {
    margin-top:1.5em;
}

/*
 * tables presenting excerpts for detailed results (by rule)
 * --------------------------------------------------
 */
.rAw21-06021-col-Link-Title-Attribut,
.rAw21-06022-col-Link-Title-Attribut,
.rAw21-06023-col-Link-Title-Attribut {
    width: 45%;
}
.rAw21-06021-col-Link-Text,
.rAw21-06022-col-Link-Text,
.rAw21-06023-col-Link-Text {}

.rAw21-06021-col-Line-Number,
.rAw21-06022-col-Line-Number,
.rAw21-06023-col-Line-Number {
    width: 10%;
    text-align: right;
}
.rAw21-06041-col-Link-Title-Attribut,
.rAw21-06042-col-Link-Title-Attribut,
.rAw21-06043-col-Link-Title-Attribut {
    width: 30%;
}
.rAw21-06041-col-Link-Text,
.rAw21-06042-col-Link-Text,
.rAw21-06043-col-Link-Text {
    width: 30%;
}
.rAw21-06041-col-Link-Href-Attribut,
.rAw21-06042-col-Link-Href-Attribut,
.rAw21-06043-col-Link-Href-Attribut {
    width: 30%;
}
.rAw21-06041-col-Line-Number,
.rAw21-06042-col-Line-Number,
.rAw21-06043-col-Line-Number {
    text-align: right;
}
.rAw21-10041-col-Css-FileName,
.rAw21-10041-col-Css-Selector{
    width: 50%;
}
.r-col-Line-Number {text-align: right;}

/* Source code Highlighter (geshi)
 -------------------------------------------------- */
.html4strict .de1, .html4strict .de2 {
    margin:0;
    padding:0;
    background:none;
    vertical-align:top;
    color: #000020;
}
.html4strict {
    font: 85% monospace;
    color: #000066;
    border: 1px solid #d0d0d0;
    background-color: #f0f0f0;
    padding-left: 2em;
/*    overflow: scroll;*/
}
.html4strict a:link {
    color: #000060;
}
.html4strict a:hover {
    background-color: #f0f000;
}
.html4strict .head {
    font-family: sans-serif;
    color: #808080;
    font-size: 77%;
    font-weight: bold;
    background-color: #f0f0ff;
    border-bottom: 1px solid #d0d0d0;
    padding: 2px;
}
.html4strict .foot {
    font-family: sans-serif;
    color: #808080;
    font-size: 77%;
    font-weight: bold;
    background-color: #f0f0ff;
    border-top: 1px solid #d0d0d0;
    padding: 2px;
}
.html4strict .imp {
    font-weight: bold;
    color: red;
}
.html4strict li, .html4strict .li1 {
    font-weight: normal;
    vertical-align:top;
    color: #003030;
}
.html4strict .ln {
    width:1px;
    text-align:right;
    margin:0;
    padding:0 2px;
    vertical-align:top;
}
.html4strict .kw2 {
    color: purple;
    font-weight: bold;
}
.html4strict .kw3 {
    color: #000066;
}
.html4strict .es0 {
    color: #000099;
    font-weight: bold;}
.html4strict .br0 {
    color: black;
}
.html4strict .sy0 {
    color: black;
}
.html4strict .st0 {
    color: blue;
}
.html4strict .nu0 {
    color: #cc66cc;
}
.html4strict .sc-1 {
    color: green; font-style: italic;
}
.html4strict .sc0 {
    color: #00bbdd;
}
.html4strict .sc1 {
    color: #FF4500;
}
.html4strict .sc2 {
    color: #000000;
}
.html4strict span.xtra { 
    display:block;
}
