
# Build
target
hsql-db*




/testing-tools/tgol-test-krash-online-site/nbactions.xml
/seo/nb-configuration.xml


# Eclipse
.project
.classpath
.settings
org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs

# Netbeans
nbproject
nb-configuration.xml
nbactions.xml


# Crowdin (translation tool) configuration file (contains personal data
crowdin.yaml

# saved files
*~

# Merge temp file
*.orig

# Mkdocs
/docs/Site
