# Build
target
hsql-db*

# Eclipse
.project
.classpath
.settings
org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs

# Netbeans
nbproject
nb-configuration.xml
nbactions.xml

# Intellij
.idea
*.iml

# Crowdin (translation tool) configuration file (contains personal data)
crowdin.yaml

# saved files
*~

# Git - Merge temp file
*.orig

# vagrant
.vagrant/

# Gitbook
_book/
node_modules/

# Mkdocs
/docs/Site

# git shortlog -s -n
#  	file for map author and committer names and email addresses
#  	to canonical real names and email addresses
/.mailmap

# Dockers: binaries
docker/**/asqatasun-*gz

