<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <groupId>org.opens</groupId>
    <artifactId>tanaguru-${referentielFolder.toLowerCase()}</artifactId>
    <packaging>pom</packaging>
    <version>1.0-SNAPSHOT</version>
    <build>
        <plugins>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-compiler-plugin</artifactId>
                <version>2.3.2</version>
                <configuration>
                    <source>1.7</source>
                    <target>1.7</target>
                    <encoding>UTF-8</encoding>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-surefire-plugin</artifactId>
                <version>2.14.1</version>
                <configuration>
                    <skipTests>false</skipTests>
                    <testFailureIgnore>true</testFailureIgnore>
                </configuration>
            </plugin>
        </plugins>
    </build>
    <modules>
        <module>${referentielFolder.toLowerCase()}</module>
        <module>${referentielFolder.toLowerCase()}-i18n</module>
        <module>${referentielFolder.toLowerCase()}-testcases</module>
        <module>${referentielFolder.toLowerCase()}-resources</module>
        <module>${referentielFolder.toLowerCase()}-all-resources</module>
    </modules>
    <properties>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        
        <engineGroupId>org.opens</engineGroupId>
        <engineVersion>3.0.0-SNAPSHOT</engineVersion>
	        
        <testingToolsGroupId>org.opens</testingToolsGroupId>
        <testingToolsVersion>3.0.0-SNAPSHOT</testingToolsVersion>

        <rulesGroupId>org.opens</rulesGroupId>
        <rulesVersion>1.0.0-SNAPSHOT</rulesVersion>
        
        <rulesVersion2>1.0-SNAPSHOT</rulesVersion2>
    </properties>
    <dependencyManagement>
        <dependencies>
            <!-- tanaguru-rules dependencies -->
            <dependency>
                <groupId>${rulesGroupId}</groupId>
                <artifactId>tanaguru-rules-commons</artifactId>
                <version>${rulesVersion}</version>
            </dependency>

            <dependency>
                <groupId>${rulesGroupId}</groupId>
                <artifactId>${referentielFolder.toLowerCase()}</artifactId>
                <version>${rulesVersion2}</version>
                <scope>runtime</scope>
            </dependency>
            <dependency>
                <groupId>${rulesGroupId}</groupId>
                <artifactId>${referentielFolder.toLowerCase()}-i18n</artifactId>
                <version>${rulesVersion2}</version>
                <scope>runtime</scope>
            </dependency>
            <dependency>
                <groupId>${rulesGroupId}</groupId>
                <artifactId>${referentielFolder.toLowerCase()}-testcases</artifactId>
                <version>${rulesVersion2}</version>
                <scope>test</scope>
            </dependency>
            <!-- tanaguru testing-tools --> 
            <dependency>
                <groupId>${testingToolsGroupId}</groupId>
                <artifactId>tanaguru-rules-testing-tools</artifactId>
                <version>${testingToolsVersion}</version>
                <scope>test</scope>
            </dependency>
        </dependencies>
    </dependencyManagement>

</project>