<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"> 

    <display-name>tanaguru-ws</display-name>

    <!-- spring context loader-->
    <context-param> 
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:beans-ws.xml
            classpath:beans-ws-security.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
	
    <!-- spring security filter -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <async-supported>true</async-supported>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- spring jersey servlet -->
    <servlet>
        <servlet-name>tanaguru-ws</servlet-name>
         <!--<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <!-- com.sun.jersey.spi.spring.container.servlet.SpringServlet -->
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.oceaneconsulting.tanaguru.ws.impl</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>tanaguru-ws</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
	
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
