<!-- START [testcase] -->
<!--
    * All the simple links with a not pertinent title
-->
<div id="linkAriaDescription1"> --&gt;;* </div>

<div id="linkAriaDescription2">
    <span>--&gt;;* </span>
</div>
<div id="testcase1">
    <!-- all these links are failed cause the link text belongs to blacklist or only contains alphanumerical characters
    the test link is computed for not empty a elements and any tag with role=link attribute-->
    <a href="my-link.html" title="cliquez ici"> cliquez ici </a>
    <a href="my-link.html" title="cliquez ici">cliquez ici</a>
    <a href="my-link.html">cliquez ici</a>
    <a href="my-link.html"> cliquez ici </a>
    <a href="my-link.html" title="--&gt;;*">--&gt;;*</a>
    <a href="my-link.html">--&gt;;*</a>
    <a href="my-link.html"> --&gt;;* </a>
    <a href="my-link.html" title="cliquez ici"> cliquez ici </a>
    <a href="my-link.html" aria-label="--&gt;;*"></a>
    <a href="my-link.html" aria-labelledby="linkAriaDescription1 linkAriaDescription2"></a>
    <div role="link" aria-label="cliquez ici"></div>
    <div role="link" aria-labelledby="linkAriaDescription3"></div>
    <div role="link">
        <span>cliquez</span><span>ici</span> </div>
    <div role="link" title="cliquez ici"></div>
</div>
<span id="linkAriaDescription3">cliquez ici</span>
<!-- END [testcase] -->

<!-- START [testcase] -->
<!--
    * All the image links with a not pertinent title
-->
<span id="image-link-description">Cliquez ici</span>
<div id="testcase2">
    <a href="mock-link1.html">
        <img src="mock-image.jpg" alt="Cliquez ici"/>
    </a>
    <a href="mock-link2.html">
        <object type="image/…" data="mock-image.jpg">Cliquez ici</object>
    </a>
    <a href="my-link.html">
        <canvas>
            --&gt;;*
        </canvas>
    </a>
    <a href="mock-link3.html">
        <img src="mock-image1.jpg" alt="Cliquez"/>
        <img src="mock-image2.jpg" alt=" ici"/>
    </a>
    <a href="mock-link4.html">
        <object type="image/…" data="mock-image.jpg">Cliquez</object>
        <object type="image/…" data="mock-image.jpg"> ici</object>
    </a>
    <a href="mock-link5.html">
        <canvas>
            --&gt;;*
        </canvas>
        <canvas>
            --&gt;;*
        </canvas>
    </a>
    <a href="my-link6.html" aria-labelledby="image-link-description">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 100">
            <circle cx="50" cy="50" r="40"/>
        </svg>
    </a>
    <a href="my-link7.html">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 100">
            <circle cx="50" cy="50" r="40"/>
            <title>En savoir</title>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 100">
            <circle cx="100" cy="100" r="40"/>
            <span>plus</span>
        </svg>
    </a>
    <div role="link" aria-label="Lire la suite">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 100" >
            <circle cx="50" cy="50" r="40"/>
            Alternative is not seen as link title
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 100">
            <circle cx="100" cy="100" r="40"/>
            as aria-label has higher priority
        </svg>
    </div>
</div>
<!-- END [testcase] -->

<!-- START [testcase] -->
<!--
    * All the composite links with a not pertinent title
-->
<div class="testcase3">
    <span id="composite-link-description">Cliquez ici</span>

    <a href="mock-link.html">
        <img src="mock-image.jpg" alt="Cliquez "/>
        ici
    </a>
    <a href="mock-link.html">
        Cliquez
        <object type="image/…" data="mock-image.jpg"> ici</object>
    </a>
    <a href="my-link.html">
        --&gt;
        <canvas>
            ;*
        </canvas>
    </a>
    <a href="mock-link.html">
        <img src="mock-image1.jpg" alt="En "/>
        <img src="mock-image2.jpg" alt=" savoir"/>
        plus
    </a>
    <a href="mock-link.html">
        <object type="image/…" data="mock-image.jpg">En</object>
        savoir
        <object type="image/…" data="mock-image.jpg"> plus</object>
    </a>
    <a href="my-link.html">
        <canvas>
            En
        </canvas>
        savoir
        <canvas>
            plus
        </canvas>
    </a>
    <a href="my-link6.html" aria-labelledby="composite-link-description">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 100">
            <circle cx="50" cy="50" r="40"/>
        </svg>
        Some text here to meke it composite
    </a>
    <a href="my-link7.html">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 100">
            <circle cx="50" cy="50" r="40"/>
            <title>En savoir</title>
        </svg>
        <span>plus</span>
    </a>
    <div role="link">
        Lire la
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 100" >
            <circle cx="50" cy="50" r="40"/>
        </svg>
        suite
    </div>
    <div role="link" aria-label="Lire la suite">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 100" >
            <circle cx="50" cy="50" r="40"/>
            Alternative is not seen as link title
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 100">
            <circle cx="100" cy="100" r="40"/>
            as aria-label
        </svg>
        has higher priority
    </div>
</div>
<!-- END [testcase] -->
