<!-- START [testcase] -->
<!-- images not within a link -->
<div class="testcase">
    <img src="dummy.png" alt="dummy alt"/>

    <div role="img" aria-label="meaning of the image"></div>

    <input type="image" src="dummy.png" alt="alternative for dummy"/>

    <img alt="" src="mock-image.jpg" usemap="#mock-map1"/>

    <map id="mock-map1" name="mock-map1">
        <area href="mock-area.html" alt="area within link"/>
    </map>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 100" aria-label="meaning of the image">
        <circle cx="50" cy="50" r="40"/>
    </svg>

    <object type="image" data="dummy.png" aria-label="meaning of the image">
    </object>

    <embed type="image" src="dummy.png" aria-label="meaning of the image">

    <canvas id="canvas1" width="300" height="300" aria-label="meaning of the image">
        Sorry, your browser does not support &lt;canvas&gt;
    </canvas>
</div>
<!-- END [testcase] -->

<!-- START [testcase] -->
<div class="testcase">
    <!-- empty links are out of scope -->
    <a href="mock-link.html"></a>
    <a href="mock-link2.html" title=""></a>
    <a href="mock-link3.html" aria-label=""></a>
    <span id="description1"></span>
    <span id="description2"></span>
    <a href="mock-link4.html" aria-describedby="description1 description2"></a>
    <div role="link"></div>
</div>
<div class="testcase">
    <!-- empty image links, composite link are out of scope -->
    <a href="mock-link.html">
        <img src="mock-image.jpg" alt=""/>
    </a>
    <a href="mock-link.html">
        <img src="mock-image.jpg"/>
        My image
    </a>
    <a href="mock-link.html">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 100" >
            <circle cx="50" cy="50" r="40"/>
        </svg>
    </a>
    <a href="my-link.html">
        <object type="image" data="mock-image.jpg"></object>
    </a>
    <div role="link">
        <img src="mock-image.jpg" alt=""/>
    </div>

</div>
<!-- END [testcase] -->
