<!-- START [testcase] -->
<!--
    * All the simple links with a title relevancy that needs to be determined
-->
<div class="testcase">
    <ol>
        <li class="current">Page 1</li>
        <li><a href="https://example.org/page-2.html">Page 2</a></li>
        <li><a href="https://example.org/page-3.html">Page 3</a></li>
    </ol>
    <style>
        .page-next::after {
            content: "\00bb"; /* This is character » */
            display: inline-block;
        }
    </style>
</div>
<div id="wcag-testcase1" class="testcase">
    <ul>
        <li>
            <a href="tomb_raider.htm">Tomb Raider: Legend</a>
            <a href="tomb_raider_images.htm">See Images</a>
            <a href="tomb_raider.mpeg">(Download Demo)</a>
        </li>
        <li>
            <a href="fear_extraction.htm">F.E.A.R. Extraction Point</a>
            <a href="fear_extraction_images.htm">See Images</a>
            <a href="fear_extraction.mpeg">(Download Demo)</a>
        </li>
    </ul>
</div>
<div id="wcag-testcase2" class="testcase">
    <h3>Folk artists get awards</h3>
    <p>Performers from the upcoming National Folk Festival receive
        National Heritage Fellowships.
        <a href="nheritage.html">[Read more...]</a>
    </p>
</div>
<div id="wcag-testcase3" class="testcase">
    <table>
        <tr>
            <th></th>
            <th scope="col">Alamo</th>
            <th scope="col">Budget</th>
            <th scope="col">National</th>
            <th scope="col">Avis</th>
            <th scope="col">Hertz</th>
        </tr>
        <tr>
            <th scope="row">Economy cars</th>
            <td><a href="econ_ala.htm">$67/day</a></td>
            <td><a href="econ_bud.htm">$68/day</a></td>
            <td><a href="econ_nat.htm">$72/day</a></td>
            <td><a href="econ_av.htm">$74/day</a></td>
            <td><a href="econ_hz.htm">$74/day</a></td>
        </tr>
        <tr>
            <th scope="row">Compact cars</th>
            <td><a href="comp_ala.htm">$68/day</a></td>
            <td><a href="comp_bud.htm">$69/day</a></td>
            <td><a href="comp_nat.htm">$74/day</a></td>
            <td><a href="comp_av.htm">$76/day</a></td>
            <td><a href="comp_hz.htm">$76/day</a></td>
        </tr>
    </table>
</div>
<!-- END [testcase] -->

<!-- START [testcase] -->
<!--
    * All the image links with a title relevancy that needs to be determined
-->
<div class="testcase">
    <!-- image links, composite link, or svg links are out of scope -->
    <a href="mock-link.html">
        <img src="mock-image.jpg" alt="Cliquez ici"/>
    </a>
    <a href="mock-link.html">
        <img src="mock-image.jpg" alt="my image"/>
    </a>
    <a href="mock-link.html">
        <object type="image/…" data="mock-image.jpg">Cliquez ici</object>
    </a>
    <a href="mock-link.html">
        <object type="image/…" data="mock-image.jpg">My object image</object>
    </a>
    <a href="my-link.html">
        <canvas id="myCanvas1" width="400" height="400">
            --&gt;;*
        </canvas>
    </a>
    <a href="my-link.html">
        <canvas id="myCanvas2" width="400" height="400">
            My Canvas image

        </canvas>
    </a>
    <a href="mock-link.html">
        <img src="mock-image1.jpg" alt="My img"/>
        <img src="mock-image2.jpg" alt=" image"/>
    </a>
    <a href="mock-link.html">
        <object type="image/…" data="mock-image.jpg">My object</object>
        <object type="image/…" data="mock-image.jpg" title="image">image</object>
    </a>
    <a href="my-link.html">
        <canvas id="myCanvas3" width="400" height="400">
            My canvas
        </canvas>
        <canvas id="myCanvas4" width="400" height="400">
            image
        </canvas>
    </a>
    <a href="my-link.html" title="My Canvas image">
        <canvas id="myCanvas5" width="400" height="400"></canvas>
        <canvas id="myCanvas6" width="500" height="500"></canvas>
    </a>
</div>
<!-- END [testcase] -->

<!-- START [testcase] -->
<!--
    * All the composite links with a title relevancy that needs to be determined
-->
<div class="testcase">
    <a href="mock-link.html">
        Cliquez
        <img src="mock-image.jpg" alt=" ici"/>
    </a>
    <a href="mock-link.html">
        <img src="mock-image.jpg" alt="my composite img"/>
        image
    </a>
    <a href="mock-link.html">
        Cliquez
        <object type="image/…" data="mock-image.jpg"> ici</object>
    </a>
    <a href="mock-link.html">
        <object type="image/…" data="mock-image.jpg">My</object>
        composite
        <object type="image/…" data="mock-image.jpg">object image</object>
    </a>
    <a href="my-link.html">
        <canvas>
            --&gt;;*
        </canvas>
        --&gt;;*
    </a>
    <a href="my-link.html">
        <canvas id="myCanvas7" width="400" height="400"></canvas>
            My composite canvas
        </canvas>
        image
    </a>
    <a href="mock-link.html">
        <img src="mock-image1.jpg" alt="My"/>
        composite img
        <img src="mock-image2.jpg" alt=" image"/>
    </a>
    <a href="mock-link.html">
        My
        <object type="image/…" data="mock-image.jpg">composite object</object>
        <object type="image/…" data="mock-image.jpg">image</object>
    </a>
    <a href="my-link.html">
        My
        <canvas id="myCanvas9" width="400" height="400">composite canvas</canvas>
        image
    </a>
    <a href="my-link7.html">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 100">
            <circle cx="50" cy="50" r="40"/>
            <title>My composite </title>
        </svg>
        <p>svg image</p>
    </a>
    <div role="link">
        My composite
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 100" >
            <circle cx="50" cy="50" r="40"/>
            <text>svg </text>
        </svg>
        image
    </div>
</div>
<!-- END [testcase] -->
