<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.com/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence         http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
    <persistence-unit name="tanaguruPU" transaction-type="RESOURCE_LOCAL">
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
        <non-jta-data-source>jdbc/tanaguruDS</non-jta-data-source>
        <!-- TGSI classes-->
        <class>org.opens.tgol.entity.user.UserImpl</class>
        <class>org.opens.tgol.entity.user.RoleImpl</class>
        <class>org.opens.tgol.entity.contract.ContractImpl</class>
        <class>org.opens.tgol.entity.contract.ActImpl</class>
        <class>org.opens.tgol.entity.contract.TgsiScopeImpl</class>
        <class>org.opens.tgol.entity.functionality.FunctionalityImpl</class>
        <class>org.opens.tgol.entity.option.OptionImpl</class>
        <class>org.opens.tgol.entity.option.OptionElementImpl</class>
        <class>org.opens.tgol.entity.option.OptionFamilyImpl</class>
        <class>org.opens.tgol.entity.referential.ReferentialImpl</class>
        <class>org.opens.tgol.entity.scenario.ScenarioImpl</class>
        <!-- tanaguru classes-->
        <class>org.opens.tanaguru.entity.reference.CriterionImpl</class>
        <class>org.opens.tanaguru.entity.reference.DecisionLevelImpl</class>
        <class>org.opens.tanaguru.entity.reference.LevelImpl</class>
        <class>org.opens.tanaguru.entity.reference.NomenclatureCssUnitImpl</class>
        <class>org.opens.tanaguru.entity.reference.NomenclatureElementImpl</class>
        <class>org.opens.tanaguru.entity.reference.NomenclatureImpl</class>
        <class>org.opens.tanaguru.entity.reference.ReferenceImpl</class>
        <class>org.opens.tanaguru.entity.reference.ScopeImpl</class>
        <class>org.opens.tanaguru.entity.reference.StandardMessageImpl</class>
        <class>org.opens.tanaguru.entity.reference.TestImpl</class>
        <class>org.opens.tanaguru.entity.reference.ThemeImpl</class>
        <class>org.opens.tanaguru.entity.audit.AuditImpl</class>
        <class>org.opens.tanaguru.entity.audit.ContentImpl</class>
        <class>org.opens.tanaguru.entity.audit.DefiniteResultImpl</class>
        <class>org.opens.tanaguru.entity.audit.ImageContentImpl</class>
        <class>org.opens.tanaguru.entity.audit.IndefiniteResultImpl</class>
        <class>org.opens.tanaguru.entity.audit.JavascriptContentImpl</class>
        <class>org.opens.tanaguru.entity.audit.ProcessRemarkImpl</class>
        <class>org.opens.tanaguru.entity.audit.ProcessResultImpl</class>
        <class>org.opens.tanaguru.entity.audit.PreProcessResultImpl</class>
        <class>org.opens.tanaguru.entity.audit.SSPImpl</class>
        <class>org.opens.tanaguru.entity.audit.SourceCodeRemarkImpl</class>
        <class>org.opens.tanaguru.entity.audit.StylesheetContentImpl</class>
        <class>org.opens.tanaguru.entity.audit.RelatedTextContentImpl</class>
        <class>org.opens.tanaguru.entity.audit.RelatedBinaryContentImpl</class>
        <class>org.opens.tanaguru.entity.audit.EvidenceElementImpl</class>
        <class>org.opens.tanaguru.entity.audit.EvidenceImpl</class>
        <class>org.opens.tanaguru.entity.subject.PageImpl</class>
        <class>org.opens.tanaguru.entity.subject.SiteImpl</class>
        <class>org.opens.tanaguru.entity.subject.WebResourceImpl</class>
        <!--        <class>org.opens.tanaguru.entity.subject.SnapshotImpl</class>-->
        <class>org.opens.tanaguru.entity.parameterization.ParameterImpl</class>
        <class>org.opens.tanaguru.entity.parameterization.ParameterElementImpl</class>
        <class>org.opens.tanaguru.entity.parameterization.ParameterFamilyImpl</class>
        <!-- tg-analyser classes-->
        <class>org.opens.tanaguru.entity.statistics.CriterionStatisticsImpl</class>
        <class>org.opens.tanaguru.entity.statistics.WebResourceStatisticsImpl</class>
        <class>org.opens.tanaguru.entity.statistics.TestStatisticsImpl</class>
        <class>org.opens.tanaguru.entity.statistics.ThemeStatisticsImpl</class>
        <exclude-unlisted-classes>true</exclude-unlisted-classes>
        <properties>
            <property name="hibernate.cache.use_query_cache" value="true"/>
            <property name="hibernate.hbm2ddl.auto" value="validate"/>
            
            <!--
            From http://stackoverflow.com/questions/7280855/jboss-7-envers-4-unable-to-load-class-org-hibernate-envers-event-auditeventlis
            Portage from 3.x to 4.x make this useless.
            These event listeners are now registered automatically
            -->
<!--            <property name="hibernate.ejb.event.post-insert" value="org.hibernate.ejb.event.EJB3PostInsertEventListener,org.hibernate.envers.event.AuditEventListener" />
            <property name="hibernate.ejb.event.post-update" value="org.hibernate.ejb.event.EJB3PostUpdateEventListener,org.hibernate.envers.event.AuditEventListener" />
            <property name="hibernate.ejb.event.post-delete" value="org.hibernate.ejb.event.EJB3PostDeleteEventListener,org.hibernate.envers.event.AuditEventListener" />
            <property name="hibernate.ejb.event.pre-collection-update" value="org.hibernate.envers.event.AuditEventListener" />
            <property name="hibernate.ejb.event.pre-collection-remove" value="org.hibernate.envers.event.AuditEventListener" />
            <property name="hibernate.ejb.event.post-collection-recreate" value="org.hibernate.envers.event.AuditEventListener" />-->
            
        </properties>
    </persistence-unit>
</persistence>
