<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">


    <!-- ${referentiel} select elements -->
    <bean id="${referentiel.toLowerCase()}BronzeSelectElementBuilder" class="org.tanaguru.webapp.form.builder.SelectElementBuilderImpl">
        <property name="value" value="${referentiel};LEVEL_1"/>
        <property name="i18nKey" value="${referentiel}-LEVEL_1"/>
        <property name="errorI18nKey" value="Bz-error"/>
        <property name="defaultCode" value="DEFAULT_LEVEL"/>
        <!--    Default values
        <property name="default" value="false"/>
        <property name="enabled" value="false"/>-->
    </bean>

    <bean id="${referentiel.toLowerCase()}SilverSelectElementBuilder" class="org.tanaguru.webapp.form.builder.SelectElementBuilderImpl">
        <property name="value" value="${referentiel};LEVEL_2"/>
        <property name="i18nKey" value="${referentiel}-LEVEL_2"/>
        <property name="errorI18nKey" value="Ar-error"/>
        <property name="defaultCode" value="DEFAULT_LEVEL"/>
        <!--Default values-->
        <property name="default" value="false"/>
        <property name="enabled" value="false"/>
    </bean>

    <bean id="${referentiel.toLowerCase()}GoldSelectElementBuilder" class="org.tanaguru.webapp.form.builder.SelectElementBuilderImpl">
        <property name="value" value="${referentiel};LEVEL_3"/>
        <property name="i18nKey" value="${referentiel}-LEVEL_3"/>
        <property name="errorI18nKey" value="Or-error"/>
        <property name="defaultCode" value="DEFAULT_LEVEL"/>
        <!--Default values-->
        <property name="default" value="false"/>
        <property name="enabled" value="false"/>
    </bean>

    <!-- Add ${referentiel.toLowerCase()} elements to the audit form field builder  --> 
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject">
            <ref bean="levelSelectFormFieldBuilder"/>
        </property>
        <property name="targetMethod">
            <value>addSelectElementBuilder</value>
        </property>
        <property name="arguments">
            <list>
                <value>${referentiel}</value>
                <list>
                    <ref bean="${referentiel.toLowerCase()}BronzeSelectElementBuilder"/>
                    <ref bean="${referentiel.toLowerCase()}SilverSelectElementBuilder"/>
                    <ref bean="${referentiel.toLowerCase()}GoldSelectElementBuilder"/>
                </list>
            </list>
        </property>
    </bean>

</beans>