<?xml version="1.0" encoding="UTF-8"?>

    <!-- For assistance related to logback-translator or configuration  -->
    <!-- files in general, please contact the logback user mailing list -->
    <!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
    <!--                                                                -->
    <!-- For professional support please see                            -->
    <!--    http://www.qos.ch/shop/products/professionalSupport         -->
    <!--                                                                -->
<configuration>
    <appender name="CONSOLE_APP" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss:SSS} %-4r %-5p %c - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="httpclient" level="INFO"/>
    <root level="DEBUG">
        <appender-ref ref="CONSOLE_APP"/>
    </root>
</configuration>
