<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.com/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence         http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
    <!-- 
    	In order to run tanaguru-ws project correctly, it's necessary to define the entry below in asqatasun configuration file (/conf/tanaguru.conf)
    	- persistenceXmlLocation=classpath:/conf/persistence.xml
     -->
    <persistence-unit name="tanaguruPU" transaction-type="RESOURCE_LOCAL">
        <provider>org.hibernate.ejb.HibernatePersistence</provider>
        <non-jta-data-source>jdbc/tanaguruDS</non-jta-data-source>
        <!-- TGSI classes
        <class>org.asqatasun.entity.user.UserImpl</class>
        <class>org.asqatasun.entity.user.RoleImpl</class>
        <class>org.asqatasun.entity.contract.ContractImpl</class>
        <class>org.asqatasun.entity.contract.ActImpl</class>
        <class>org.asqatasun.entity.contract.TgsiScopeImpl</class>
        <class>org.asqatasun.entity.functionality.FunctionalityImpl</class>
        <class>org.asqatasun.entity.option.OptionImpl</class>
        <class>org.asqatasun.entity.option.OptionElementImpl</class>
        <class>org.asqatasun.entity.option.OptionFamilyImpl</class>
        <class>org.asqatasun.entity.referential.ReferentialImpl</class>
        <class>org.asqatasun.entity.scenario.ScenarioImpl</class>-->
        <!-- asqatasun classes-->
        <class>org.asqatasun.entity.reference.CriterionImpl</class>
        <class>org.asqatasun.entity.reference.DecisionLevelImpl</class>
        <class>org.asqatasun.entity.reference.LevelImpl</class>
        <class>org.asqatasun.entity.reference.NomenclatureCssUnitImpl</class>
        <class>org.asqatasun.entity.reference.NomenclatureElementImpl</class>
        <class>org.asqatasun.entity.reference.NomenclatureImpl</class>
        <class>org.asqatasun.entity.reference.ReferenceImpl</class>
        <class>org.asqatasun.entity.reference.ScopeImpl</class>
        <class>org.asqatasun.entity.reference.StandardMessageImpl</class>
        <class>org.asqatasun.entity.reference.TestImpl</class>
        <class>org.asqatasun.entity.reference.ThemeImpl</class>
        <class>org.asqatasun.entity.audit.AuditImpl</class>
        <class>org.asqatasun.entity.audit.ContentImpl</class>
        <class>org.asqatasun.entity.audit.DefiniteResultImpl</class>
        <class>org.asqatasun.entity.audit.ImageContentImpl</class>
        <class>org.asqatasun.entity.audit.IndefiniteResultImpl</class>
        <class>org.asqatasun.entity.audit.JavascriptContentImpl</class>
        <class>org.asqatasun.entity.audit.ProcessRemarkImpl</class>
        <class>org.asqatasun.entity.audit.ProcessResultImpl</class>
        <class>org.asqatasun.entity.audit.PreProcessResultImpl</class>
        <class>org.asqatasun.entity.audit.SSPImpl</class>
        <class>org.asqatasun.entity.audit.SourceCodeRemarkImpl</class>
        <class>org.asqatasun.entity.audit.StylesheetContentImpl</class>
        <class>org.asqatasun.entity.audit.RelatedTextContentImpl</class>
        <class>org.asqatasun.entity.audit.RelatedBinaryContentImpl</class>
        <class>org.asqatasun.entity.audit.EvidenceElementImpl</class>
        <class>org.asqatasun.entity.audit.EvidenceImpl</class>
        <class>org.asqatasun.entity.subject.PageImpl</class>
        <class>org.asqatasun.entity.subject.SiteImpl</class>
        <class>org.asqatasun.entity.subject.WebResourceImpl</class>
		<!--<class>org.asqatasun.entity.subject.SnapshotImpl</class>-->
        <class>org.asqatasun.entity.parameterization.ParameterImpl</class>
        <class>org.asqatasun.entity.parameterization.ParameterElementImpl</class>
        <class>org.asqatasun.entity.parameterization.ParameterFamilyImpl</class>
        <!-- tg-analyser classes-->
		<class>org.asqatasun.entity.statistics.CriterionStatisticsImpl</class>
		<class>org.asqatasun.entity.statistics.WebResourceStatisticsImpl</class>
        <class>org.asqatasun.entity.statistics.TestStatisticsImpl</class>
        <class>org.asqatasun.entity.statistics.ThemeStatisticsImpl</class>
        <!-- Entity du WS -->
        <class>com.oceaneconsulting.tanaguru.entity.impl.WsInvocationImpl</class>
        <class>com.oceaneconsulting.tanaguru.entity.impl.WsRoleImpl</class>
        <class>com.oceaneconsulting.tanaguru.entity.impl.WsUserImpl</class>
        <class></class>
        <class></class>
        <exclude-unlisted-classes>true</exclude-unlisted-classes>
        <properties>
            <property name="hibernate.cache.use_query_cache" value="true"/>
            <property name="hibernate.cache.use_second_level_cache" value="true" />
            <property name="hibernate.cache.provider_class" value="org.hibernate.cache.EhCacheProvider"/>
            <property name="hibernate.hbm2ddl.auto" value="validate"/>
        </properties>
    </persistence-unit>
</persistence>
