<assembly xmlns="http://maven.apache.org/plugins/maven-resources-plugin/resources/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/plugins/maven-resources-plugin/resources/1.1.0 http://maven.apache.org/xsd/resources-1.1.0.xsd">
    <formats>
        <format>tar.gz</format>
    </formats>
    <fileSets>
        <fileSet>
            <directory>${basedir}/src/main/resources/</directory>
            <includes>
                <include>deploy.sh</include>
            </includes>
            <fileMode>755</fileMode>
            <outputDirectory>/</outputDirectory>
        </fileSet>
        <fileSet>
            <directory>${basedir}/src/main/resources/sql</directory>
            <includes>
                <include>**/*.sql</include>
            </includes>
            <fileMode>666</fileMode>
            <outputDirectory>/sql</outputDirectory>
        </fileSet>
        <fileSet>
            <directory>${basedir}/target</directory>
            <includes>
                <include>*.jar</include>
            </includes>
            <fileMode>666</fileMode>
            <outputDirectory>/lib/</outputDirectory>
        </fileSet>
    </fileSets>
</assembly>